body {
  background: #131b21;
}
 /* Intro Text */
 #intro {
  font-size: 3rem;
  font-weight: bold;
  color: #fff;
  animation: fadeOut 3s ease-in-out forwards;
  position: absolute;
}

@keyframes fadeOut {
  0% { opacity: 1; }
  80% { opacity: 0; }
  100% { display: none; }
}

